:root {
    --color-text: #807e7e;
    --color-border: #cfcece;
    --bg-buttons: #eeededa9;
    --bg-shadow: #dfdfdf;
    --link: rgb(42, 74, 212);
}

.site {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

a {
    text-decoration: none;
    color: var(--color-text);
}

header div {
    margin: 0 0.55rem;
    padding: 0.75rem 0;
}

.avatar {
    width: 70%;
    border-radius: 100%;
}

main {
    flex-direction: column;
    flex-grow: 2;
    padding: 4rem 0;
    display: flex;
    align-items: center;
}

.logo {
    width: 450px;
}

input[type='text'] {
    background-image: url(./assets/search.svg), url(./assets/mic.png);
    background-repeat: no-repeat;
    background-size: 20px, 20px;
    background-position: 0.75rem 0.7rem, 97%;
    width: 420px;
    margin-top: 2rem;
    height: 40px;
    border: 1px solid var(--color-border);
    border-radius: 20px;
    padding: 0rem 2.3rem;
}
input[type='text']:hover {
    box-shadow: 0px 5px 20px 0px var(--bg-shadow);
}
input[type='text']:focus ~ .recommendations {
    display: block;
    border-top-left-radius: unset;
    border-top-right-radius: unset;
    box-shadow: 0px 5px 20px 0px var(--bg-shadow);
}
input[type='text']:focus {
    border-bottom: unset;
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
}

.recommendations {
    display: none;
    border: 1px solid var(--color-border);
    border-radius: 20px;
    border-top: unset;
}

.recommendation a:hover {
    text-decoration: none;
}

.recommendation:hover {
    background: var(--bg-buttons);
}
.recommendation {
    padding: 0.5rem;
    width: 478px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.recommendation div {
    display: flex;
    align-items: center;
}

.recommendation div a {
    margin: 0 1rem;
}

.buttons {
    margin-top: 2rem;
}
.buttons button {
    margin: 0 0.5rem;
    background: var(--bg-buttons);
    padding: 0.75rem 1rem;
    border-radius: 5px;
}
.buttons button:hover {
    border: 1px solid var(--color-border);
}
.info {
    margin-top: 2rem;
}
.info a {
    margin-left: 0.25rem;
    color: var(--link);
}
footer section {
    padding: 0.95rem 1.5rem;
    background: var(--bg-buttons);
    display: flex;
    font-size: 14px;
    border-top: 1px solid var(--color-border);
}

.bottom {
    justify-content: space-between;
}

.links a {
    margin-right: 1rem;
}

a:hover {
    text-decoration: underline;
}
